@page "/"
@page "/index"
@using BlazorServerAppDemo.Pages.ContactComponents

<h1>Index Page</h1>
<br />

<ContactList @ref="contactList" Contacts="contacts">
    <NullContacts>
    <br />
    <span>Contacts are loading...</span>
    <br />
    </NullContacts>

    <Empty>
    <br />
    <span>No Contacts</span>
    <br />
    </Empty>


</ContactList>
<br />

<MyTextBox style="background-color:orange; color:blueviolet; border:dotted 2px" placeholder="hold this" type="text" disabled="disabled"></MyTextBox>
<MyTextBox @attributes="@(new Dictionary<string, object> {
{"disabled","disabled"},
    {"placeholder","Contact Name"}
})"></MyTextBox>
<MyTextBox @attributes="@myAts"></MyTextBox>

<button @onclick="HideContacts" class="btn btn-primary">Show/Hide</button>

<a href="./test">Test Page</a>
<br />
<button @onclick="NavigateToTest" class="btn btn-primary">Nav to Test</button>
